doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/site.css')

  body
    div(class='navbar')
      a.navbar-brand(href="/") Home
      a.navbar-item(href="/customers") Customers
      a.navbar-item(href="/films") Films

    div(class='body-content')
      block content
      hr
      footer
        p Tam Tran
